.trip-list {
    height: 520px;
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}
.message-list {
    height: 70%;
    margin-left: 25px;
    margin-right: 4%;
    width: 96%;
}
.answer-btn {
    width: 100px;
}
.answer-btn:first-of-type {
    margin-right: 10px;
}
.answer-btn:last-of-type {
    margin-left: 10px;
}
#add-trip-btn, #add-trip {
    width: 70%;
}
#add-trip {
    margin-top: 25px;
}
.add-trip {
    height: 100px;
}
.add-trip:first-of-type {
    margin-top: 5%;
}
@media ( max-width: 1200px ) {
    .device {
        border: none;
        display: grid;
        grid-template-columns: 1fr;
        height: calc( 140vh - 80px );
        margin: 50vh 0 0 0;
        width: 100%;
    }
    .flex-container {
        height: 80vh;
        width: 80%;
        margin: 0 10%
    }
    .flex-container:first-of-type {
        height: 20vh;
    }
    .trip-list {
        height: 90%;
    }
}