.trip-list {
    height: 520px;
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}
.message-list {
    height: 70%;
    margin-left: 25px;
    margin-right: 4%;
    width: 96%;
}
.answer-btn {
    width: 100px;
}
.answer-btn:first-of-type {
    margin-right: 10px;
}
.answer-btn:last-of-type {
    margin-left: 10px;
}
#add-trip-btn, #add-trip {
    width: 70%;
}
#add-trip {
    margin-top: 25px;
}
.add-trip {
    height: 100px;
}
.add-trip:first-of-type {
    margin-top: 5%;
}
@media ( max-width: 1200px ) {
    .trip-list {
        height: 90%;
        margin-bottom: 10px;
    }
}
@media ( max-width: 600px ) {
    .message-list {
        margin-left: 5px;
    }
}