#login-img {
	height: 300px;
	margin-top: 175px;
    width: auto;
}
#login-form {
	height: 650px;
}
.login-element {
    align-items: center;
    display: grid;
    height: 17%;
    margin-left: 10%;
    width: 80%;
}
.login-element:first-of-type {
	font-size: 36px;
    height: 32%;
}
.login-element:last-of-type {
    display: inline-block;
    margin-right: 10%;
    text-align: right;
}
#sign-up-link {
    color: #1b1b1b;
    font-weight: bold;
    text-decoration: none;
}
#sign-up-link:hover {
    color: cyan;
}

@media ( max-width: 1200px ) {
    .login-element {  
        margin-left: 10%;
        width: 80%;
    }
    .login-element:last-of-type {
        margin-right: 12%;
        width: 78%;
    }
}
@media ( max-width: 600px ) {
    .container {
        margin-top: 0;
    }
    .login-element:first-of-type {
        margin-top: 80px;
        height: 26%;
    }
    .login-element:last-of-type {
        margin-right: 2%;
        width: 98%;
    }
    .login-element {  
        margin-left: 0;
        width: 100%;
    }
}