@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap' );
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
input, button {
    border: 3px solid #1b1b1b;
	border-radius: 5px;
    font-size: 18px;
    height: 50%;
}
input {
    padding: 12px 20px;
}
input[ type = checkbox ] {
    cursor: pointer;
    font-size: 27px;
    height: 20px;
    width: 30px;
}
button {
	background: #1b1b1b;
    cursor: pointer;
	color: white;
}
button:hover {
    transform: scale( 1.01 );
}
select {
    border: 3px solid #1b1b1b;
	border-radius: 5px;
    height: 60%;
    width: 80%;
}
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo {
    color: cyan;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}
nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}
nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
#click {
    display: none;
}

.container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
    margin-top: 40px;
}
#display-none {
    display: none;
}
.alert {
    display: table-cell;
    height: 36px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    width: 10000px;
}
.alert-danger {
    background-color: #f44336;
}
.alert-success {
    background-color: #04AA6D;
}
.container-content {
    border: 5px solid #1b1b1b;
    border-radius: 5px;
    display: flex;
    height: 660px;
    margin-left: calc( 50% - 600px );
    width: 1200px;
}
.with-img {   
    display: grid;
    grid-template-columns: 4fr 5fr;
}
.flex-container {
    height: 600px;
    margin-top: 30px;
    width: 600px;
}
.element1 {
    background: #1b1b1b;
}
.element2 {
	height: 650px;
}
.list-container {
    scrollbar-color: #1b1b1b #aca9bb;
    scrollbar-width: thin;
    scroll-margin: 0 50px 0 50px;
    overflow: scroll;
    overflow-x: hidden;
}
.list {
    border: 2px solid #1b1b1b;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-left: 10%;
    list-style: none;
    width: 80%;
}
.link-list, .btn-list {
    color: #1b1b1b;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
.link-list:hover, .btn-list:hover {
    background-color: #1b1b1b;
    color: white;
    cursor: pointer;
}
.flex-element-child {
    height: 50%;
}
.btn-list {
    display: block;
    background-color: white;
    border: none;
    line-height: 29px;
}
@media ( max-width: 1200px ) {
    .device {
        border: none;
        display: grid;
        grid-template-columns: 1fr;
        height: calc( 140vh - 80px );
        margin: 50vh 0 0 0;
        width: 100%;
    }
    .flex-container {
        height: 80vh;
        width: 100%;
        margin: 0;
    }
    .flex-container:first-of-type {
        height: 20vh;
    }
    #add-trip-btn, #add-trip {
        width: 100%;
    }
    .trip-element .tab {
        margin-left: 0;
        width: 100%;
    }
    .element1 { display: none; }
    .alert {
        height: 72px;
    }
    .with-img {
        border: none;
        display: grid;
        grid-template-columns: 1fr;
        height: 660px;
        margin-left: 0;
        width: 100%;
    } 
}
@media ( max-width: 1000px ) {
    nav{
        padding: 0 40px 0 50px;
    }
}
@media ( max-width: 920px ) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before {
        content: '\f00d';
    }
    nav ul {
        position: fixed;
        top: -100vh;
	    left: 0;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
    }
    #click:checked ~ ul {
        top: 80px;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: 200px;
        display: block;
        font-size: 20px;
    }
    #click:checked ~ ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
    .pay-btn .pay-btn-flex { 
        margin-top: 40px;
    }
    .bill-inp .bil-btn {
        width: 100%;
    }
    input {
        width: 100%;
    }
}