.signup-element {
    align-items: center;
    display: grid;
    height: 14%;
    margin-left: 10%;
    width: 80%;
}
.signup-element:first-of-type  {
	font-size: 36px;
    height: 24%;
}
.signup-ip-btn {
    height: 60%;
}
@media ( max-width: 1200px ) {
    .signup-element:first-of-type {
        height: 30%;
        margin-top: 0;
    }
    .signup-element {  
        margin-left: 10%;
        width: 80%;
    }
}
@media ( max-width: 600px ) {
    .signup-element:first-of-type {
        margin-top: 122px;
        height: 12%;
    }
    .signup-element {  
        margin-left: 0;
        width: 100%;
    }
}